<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FlashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/FlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.register.RegisterActivity" />
        <activity android:name=".ui.activity.add.AddTransactionActivity" />
        <activity android:name=".ui.activity.add.ServiceActivity" />
    </application>

</manifest>